APP_NAME=MyApp
APP_ENV=local
APP_KEY=
APP_DEBUG=false

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=myapp
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=redis
SESSION_DRIVER=database
STALE_KEY=some-old-value
